# --- Environnements virtuels ---
venv/
env/
.venv/

# --- Données lourdes ---
data/raw/
data/processed/
data/embeddings/
data/indexes/
*.db
*.npy
*.pkl
*.json
*.sqlite3

# --- Caches ---
__pycache__/
*.log
*.tmp

# --- Streamlit et autres ---
.streamlit/
